body {
  background-color: #ff6961;
  margin: 0px;
}

.poppinsFont {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*  ---------------- Login Page -----------------------*/
.loginPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loginForm {
  width: 100%;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 550px;
  width: 350px;
  border-radius: 70px;
  padding: 30px;
}

.loginTitle {
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 90px;
  margin-top: 0px;
  margin-bottom: 50px ;
}


.loginInformation {
  height: 30px;
  width: 95%;
  border: none;
  background-color: #F7BEC0;
  border-radius: 10px;
  padding: 10px;
}

.loginLabel {
  align-self: flex-start;
}

.loginLabel p {
  margin-bottom: 0px;
}

.signInbtn {
  height: 50px;
  width: 100%;
  margin: 30px;
  background-color: black;
  color: white;
  border-radius: 10px;
  margin: 30px 0px 0px 0px;
  font-size: 15px;
  cursor: pointer;
}

.loginBtns {
  border: none;
  background-color: transparent;
  font-size: 15px;
  margin-top: 10px;
  cursor: pointer;
}

/* -------------- Admin Login --------------------- */

.adminLoginPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  /* x axis */
  justify-content: center;
  /* y axis */
  align-items: center;
}

.adminLoginTitle {
  margin: 0px;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
}

.adminLoginReturnBtn {
  font-size: 15px;
  margin: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* -------------- Sign Up --------------------- */

/* -------------- Forgot Password --------------------- */
.fogotPasswordPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fogotPasswordContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 25%;
  border-radius: 15px;
  background-color: white;
  padding: 30px;
}

.forgotPasswordTitle {
  font-size: 30px;
  margin: 10px 0px;
}

.forgotPasswordDescription {
  text-align: center;
}

.forgotPasswordForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.emailInformation {
  height: 30px;
  width: 95%;
  border: none;
  background-color: #F7BEC0;
  border-radius: 10px;
  padding: 10px;
  height: 40px;
  font-size:20px;
}

.forgotPasswordSendBtn {
  align-self: center;
  width: 50%;
  height: 45px;
  margin: 40px 0px 20px 0px;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer; 
}

.forgotPasswordReturnBtn {
  font-size: 15px;
  margin: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.divider {
  border-left: 1px solid  black; /* Vertical line */
  height: 20px; /* Adjust the height of the line */
  margin: 0px; /* Space between the words and the line */  
}

.forgotPasswordSignBtn {
  font-size: 15px;
  margin: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
