body {
  background-color: #ff6961;
  margin: 0px;
}

/* class that sets genenal font and weight used through out the website */
.poppinsFont {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*  ---------------- Login Page -----------------------*/

/* set the height love the login page and center the items */
.loginPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* set the width of the form for login */
.loginForm {
  width: 100%;
}

/* set height and width for the login container and align items at the center in a column way. */
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 550px;
  width: 350px;
  border-radius: 70px;
  padding: 30px;
}

/* sytle the login Title (HealthSift) */
.loginTitle {
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 90px;
  margin-top: 0px;
  margin-bottom: 30px ;
}

/* style the inputs (email, password, username, etc. */
.loginInformation {
  height: 30px;
  width: 95%;
  border: none;
  background-color: #F7BEC0;
  border-radius: 10px;
  padding: 10px;
}

/* style the label for the input */
.loginLabel {
  align-self: flex-start;
}

/* remove any margin on the paragraphs found under loginLabael */
.loginLabel p {
  margin-bottom: 0px;
}

/* style the signInBtn */
.signInbtn {
  height: 50px;
  width: 100%;
  margin: 30px;
  background-color: black;
  color: white;
  border-radius: 10px;
  margin: 30px 0px 0px 0px;
  font-size: 15px;
  cursor: pointer;
}

/* Style the redirect buttons */
.loginBtns {
  border: none;
  background-color: transparent;
  font-size: 15px;
  margin-top: 10px;
  cursor: pointer;
}

/* -------------- Admin Login --------------------- */

/* style the admin login container */
.admin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 550px;
  width: 350px;
  border-radius: 70px;
  padding: 30px;
}

/* sytle the admin form */
.adminForm {
  width: 100%;
}

/* style the admin login page. Set the heigh and width and center items */
.adminLoginPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  /* x axis */
  justify-content: center;
  /* y axis */
  align-items: center;
}

/* style the admin title (HealthSift) */
.adminTitle {
  font-family: "Nanum Pen Script", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 90px;
  margin-top: 0px;
  margin-bottom: 30px ;
}

/* style the admin subtitle (Admin Login) */
.adminLoginTitle {
  margin: 0px;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
}

/* style the sign in btn */
.adminbtn {
  height: 50px;
  width: 100%;
  margin: 30px;
  background-color: black;
  color: white;
  border-radius: 10px;
  margin: 30px 0px 0px 0px;
  font-size: 15px;
  cursor: pointer;
}

/* style the redirect btn (Sign In) */
.adminLoginReturnBtn {
  font-size: 15px;
  margin: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* style the input containers */
.adminInformation {
  height: 30px;
  width: 95%;
  border: none;
  background-color: #F7BEC0;
  border-radius: 10px;
  padding: 10px;
}

/* style the labels for the inptus */
.adminLabel {
  align-self: flex-start;
}

/* remove any margin on any paragraph found under adminLabel */
.adminLabel p {
  margin-bottom: 0px;
}


/* -------------- Sign Up --------------------- */

/* set the heigh width and center items on the sign up page */
.signUpPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* style the sign up container */
.signUpContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 25%;
  border-radius: 15px;
  background-color: white;
  padding: 30px;
}

/* style the sign up title (Welcome to Healthsift */
.signUpTitle {
  font-size: 30px;
  margin: 10px 0px;
}

/* style the sign up subtittle (Pleace enter...) */
.signUpDescription {
  text-align: center;
}

/* set the direction to comun and add some width to the form */
.signUpForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* style the login btn */
.signUpSendBtn {
  align-self: center;
  width: 50%;
  height: 45px;
  margin: 40px 0px 20px 0px;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer; 
}

/* style the redirect btns (sign) */
.signUpBtns {
  border: none;
  background-color: transparent;
  font-size: 15px;
  margin-top: 10px;
  cursor: pointer;
}

/* style the input containers (email, password, re-enter) */
.signUpInformation {
  height: 30px;
  width: 95%;
  border: none;
  background-color: #F7BEC0;
  border-radius: 10px;
  padding: 10px;
}

/* style the label for the input */
.signUpLabel {
  align-self: flex-start;
}

/* remove any margin to any of the paragraphs under signUpLabel */
.signUpLabel p {
  margin-bottom: 0px;
}

/* -------------- Forgot Password --------------------- */

/* styel the forgot password page */
.fogotPasswordPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* style the forgot password container */
.fogotPasswordContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
  width: 25%;
  border-radius: 15px;
  background-color: white;
  padding: 30px;
}

/* style the forgot password tittle (Password Recovery) */
.forgotPasswordTitle {
  font-size: 30px;
  margin: 10px 0px;
}

/* style the subtitle (Do not panic! ...) */
.forgotPasswordDescription {
  text-align: center;
}

/* align items of the form as a column  */
.forgotPasswordForm {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* style the email input box */
.emailInformation {
  height: 30px;
  width: 95%;
  border: none;
  background-color: #F7BEC0;
  border-radius: 10px;
  padding: 10px;
  height: 40px;
  font-size:20px;
}

/* styl the Send Email btn */
.forgotPasswordSendBtn {
  align-self: center;
  width: 50%;
  height: 45px;
  margin: 40px 0px 20px 0px;
  border-radius: 10px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer; 
}

/* style the login redirect btn */
.forgotPasswordReturnBtn {
  font-size: 15px;
  margin: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* a divider between the redirect btns */
.divider {
  border-left: 1px solid  black; /* Vertical line */
  height: 20px; /* Adjust the height of the line */
  margin: 0px; /* Space between the words and the line */  
}

/* style the redirect sign in btn */
.forgotPasswordSignBtn {
  font-size: 15px;
  margin: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* -------------- Nav Bar --------------------- */

/* style the nav bar container */
.navbarContainer {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 150px;
  background-color: #ff6961;
}

/* adjust and style the format in which the elements are going to show in nav bar */
.navbar {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

/* remove styling to any list items */
.navbar > li {
  list-style: none;
}

/* style each nav bar item (.ie nav bar options */
.navbarItem {
  width: 100%;
  border: none;
  background-color: transparent;
  color: white;
  margin: 0px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
  padding: 10px 0px 10px 0px;
}

/* add a hover effect to each nav bar item */
.navbarItem:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* style the users profile image */
.navbarImg {
  width: 75px; 
  height: 75px;
  display: block;
  border-radius: 50%;
  margin: 10px auto 10px auto;
  cursor: pointer;
}

/* move the last list item (logout) to the bottom */
.navbar > li:nth-child(4) {
  margin-top: auto;
}

/* -------------- Search Bar --------------------- */

/* style and center any contents of the container */
.searchContainer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%; /* Ensures it spans the available space */
  height: 100%;
}

/* style the cotainer in which the serach bar, search btn, and filter btn will show */
.searchBarContainer {
  position: relative;
  position: absolute;
  top: 300px;
  margin: 0px auto 0px auto;
  width: 55%;
  height: 50px;
}

.searchForm {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

/* style the actual searchBar */
.searchBar {
  background-color: transparent;
  width: 75%;
  height: 75%;
  border-radius: 15px;
  font-size: 20px;
  cursor: text;
  border: solid 2px #D3D3D3;
  padding: 10px;
}

/* filters that are activated */
.activatedFiltersContainer {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0px;
  bottom: -45px;
  height: 35px;
  width: 78%;
  /* border: black solid 1px; */
}

.activatedFilter {
  height: 20px;
  width: fit-content;
  block-size: fit-content;
  border-radius: 16px;
  margin: 3px 10px 0px 0px;
  padding: 7px;
  border: 2px solid #D3D3D3;
  cursor: pointer;
  font-size: 13px;
}

.activatedFilter:hover {
  text-decoration: line-through grey 2px;
}

/* style the search btn */
.searchBarBtn {
  margin: auto;
  width: 110px;
  height: 50px;
  border: none;
  background-color: #ff6961;
  border-radius: 15px;
  cursor: pointer;
  font-size: 20px;
  padding: 12px;
  color: white;
}

/* add a hovering effect on the search btn */
.searchBarBtn:hover {
  background-color: #F7BEC0;
}

/* style and size the filter container */
.searchBarFilter {
  position: relative;
  height: 30px;
  width: 30px;
  margin: 15px;
  border-radius: 10px;
  transition: background 0.3s ease;
}

/* adjust the fileter icon */
.searchBarFilter > img {
  border-radius: 10px;
  padding: 3px;
  cursor: pointer;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

/* add a hovering effect to the filter icon */
.searchBarFilter > img:hover {
  background-color:#D3D3D3 ;
}

/* style the filter options container */
.searchBarOptions {
  position: absolute;
  height: 210px;
  width: 195px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  list-style: none;
  padding: 10px;
  margin: 0px;
  left: -75px;
  right: -75px;
  z-index: 1;
}

/* style each of the otpions found in the filter options container */
.searchBarOptions > li {
  display: flex;
  align-items: center;
  padding: 5px;
  height: 25px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

/* add a hovering on all of the options */
.searchBarOptions > li:hover {
  background-color: #D3D3D3;
}

/* class makes anything unvisible. Used to hide the filter options container */
.unvisible {
  display: none;
}

/* -------------- Medicines --------------------- */

/* conatiner that holds the medicines */
.medicineContainer {
  position: absolute;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 55%;
  height: 50%;
  top: 380px;
  padding: 40px;
}

/* medicine cards  */
.medicineCard {
  display: flex;
  align-items: center;
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #D3D3D3;
  border-radius: 15px;
}

/* style the image of the medicine */
.medicinePicture {
  height: 150px;
  width: 150px;
  margin: 0px 15px 0px 0px;
}

/* conatiner that holds the information of the medicine */
.medicineInformation {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  margin: 0px 10px 0px 10px;
}

/* targets all of the paragraphs in the medicineInformation */
.medicineInformation p {
  margin: 0px;
  color: black;
}

/* style the name of the medicine */
.medicineTittle {
  font-weight: 500;
  font-size: 20px;
}

.medicineBrand {
  font-size: 13px;
}

.medicineLink {
  font-size: 13px;
  color: black;
  cursor: pointer;
}

.medicineLink:hover {
  font-size: 13px;
  color: #ff6961;
}


/* style the add btn */
.addMedicineBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 60px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background-color: #ff6961;
}

.vertical {
  height: 20px;
  width: 4px;
  border-radius: 15px;
  background-color: white;
}

.horizontal {
  position: absolute;
  height: 20px;
  width: 4px;
  border-radius: 15px;
  background-color: white;
  transform: rotate(90deg);
}

/* -------------- Home Page --------------------- */

/* style and adjust the hompage and its items */
.homePage {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  background-color: white;
  position: relative;
}